<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>荣誉勋章</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

        <!--1.顶部导航-->
    <div class="bar">
        <img src="/static/image/logo_2.png" alt="">
        <div><a href="/index/">小镇</a>><a href="/test_3/">荣誉勋章</a></div>
    </div><!--1.顶部导航--><br>

<pre>
目标：川菜大厨 (未完成)
条件：学习四川街所有菜式(6/46)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、川菜大厨勋章*1


目标：徽菜大厨 (未完成)
条件：学习安徽街所有菜式(0/48)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、徽菜大厨勋章*1


目标：鲁菜大厨 (未完成)
条件：学习山东街所有菜式(0/54)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、鲁菜大厨勋章*1


目标：闽菜大厨 (未完成)
条件：学习福建街所有菜式(0/48)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、闽菜大厨勋章*1


目标：苏菜大厨 (未完成)
条件：学习江苏街所有菜式(0/49)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、苏菜大厨勋章*1


目标：湘菜大厨 (未完成)
条件：学习湖南街所有菜式(0/45)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、湘菜大厨勋章*1


目标：粤菜大厨 (未完成)
条件：学习广东街所有菜式(0/45)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、粤菜大厨勋章*1


目标：浙菜大厨 (未完成)
条件：学习浙江街所有菜式(0/48)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、浙菜大厨勋章*1


目标：美食新人 (未完成)
条件：餐厅升至1星(0/1)
奖励：元宝*100、短效老鼠夹、2级升星凭证


目标：美食达人 (未完成)
条件：餐厅升至2星(0/2)
奖励：元宝*200、短效偶像海报、3级升星凭证


目标：美食专家 (未完成)
条件：餐厅升至3星(0/3)
奖励：元宝*400、一级万能食材*2、二级万能食材*2


目标：美食大师 (未完成)
条件：餐厅升至4星(0/4)
奖励：元宝*800、三级万能食材*2、饭团外卖铜像*1


目标：美味王者 (未完成)
条件：餐厅升至5星(0/5)
奖励：元宝*1600、四级万能食材*2、美味收款机*1


目标：著名大厨 (未完成)
条件：学习394道菜式(17/394)
奖励：金币*10000、4级升星凭证、1-3级随机食材箱*5、


目标：传奇大厨 (未完成)
条件：学习450道菜式(17/450)
奖励：金币*10000、5级升星凭证、1-3级随机食材箱*20、


目标：情菜大厨 (未完成)
条件：学习情侣街所有菜式(0/9)
奖励：金币*10000、神秘礼券*10、1-3级随机食材箱*5、情菜大厨勋章*1


</pre>
        <!--4.底部菜单栏-->
    <div>
        <a href="/ambry/">橱柜</a>｜<a href="/backpack/">仓库</a>｜<a href="/recipe/">菜谱</a>｜
        <a href="">餐厅</a>｜<a href="">菜场</a>｜<a href="/shop/">商城</a><br>

        <a href="">消息</a>｜<a href="">神殿</a>｜<a href="">酒吧</a>｜
        <a href="/friend/">街坊</a>｜<a href="">排行</a>｜<a href="/buy_money/">充值</a><br>

        <a href="/foodmaterial/">食材</a>｜<a href="/recipe/">菜谱</a>｜<a href="/treasure/">圣地</a>｜
        <a href="/index/">首页</a>｜<a href="/gift/">礼包</a>｜<a href="/logout/">注销</a><br>
    </div><!--4.底部菜单栏-->
</div>




</body>
</html>