<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <!--1.顶部导航-->
    <div class="bar">
        <img src="/static/image/logo_2.png" alt="">
        <div><a href="/index/">小镇</a>><a href="/shop/">商店</a></div>
    </div><!--1.顶部导航-->

    <!--2.信息-->
    <div>
        圣地类型:神魔陵园<br>
        在圣地挖掘，可随机获得各种食材、道具、材料等，每次挖掘消耗3点体力。<br>
        体力:{{ user_obj.energy }}/100<br>
    </div><!--2.信息-->

    <!--3.条件循环-->
    <div>
        {% if dig_num %}
            [随机挖掘]<br>
            恭喜你,成功挖掘{{ dig_num }}次,得到:<br>
            {% for dig_choice in dig_choices %}
                {{ forloop.counter }}.{{ dig_choice.food_material }}(
                {{ dig_choice.food_material_level.name }})×1<br>
            {% endfor %}
            体力-{{ dig_energy }}<br>
            <a href="?dig=5">挖掘5次</a>.<a href="?dig=1">挖掘1次</a><br>
        {% elif not dig_num %}
            [随机挖掘]<br>
            <a href="?dig=5">挖掘5次</a>.<a href="?dig=1">挖掘1次</a><br>
        {% endif %}
    </div><!--3.条件循环-->

    <!--4.底部菜单栏--><br>
    <div>
        <a href="/ambry/">橱柜</a>｜<a href="/backpack/">仓库</a>｜<a href="/recipe/">菜谱</a>｜
        <a href="">餐厅</a>｜<a href="">菜场</a>｜<a href="/shop/">商城</a><br>

        <a href="">消息</a>｜<a href="">神殿</a>｜<a href="">酒吧</a>｜
        <a href="/friend/">街坊</a>｜<a href="">排行</a>｜<a href="/buy_money/">充值</a><br>

        <a href="/foodmaterial/">食材</a>｜<a href="/recipe/">菜谱</a>｜<a href="/treasure/">圣地</a>｜
        <a href="/index/">首页</a>｜<a href="/gift/">礼包</a>｜<a href="/logout/">注销</a><br>
    </div><!--4.底部菜单栏-->

</div>
</body>
</html>